<div class="bold">
  How to use our app.
</div>
<div class="info-container">
  <div class="tutorial-text">
    <div>
      <div class="step-number">1</div>
      <div class="step-details">
        <div class="step-title">Click "Let's go"</div>
        <div class="step-description">Start by clicking the "Let's go" button to begin your journey with our app.</div>
      </div>
    </div>
    <div>
      <div class="step-number">2</div>
      <div class="step-details">
        <div class="step-title">Select your model</div>
        <div class="step-description">Choose the e-scooter model that suits your needs from the available options.</div>
      </div>
    </div>
    <div>
      <div class="step-number">3</div>
      <div class="step-details">
        <div class="step-title">Select location</div>
        <div class="step-description">Pick your desired location for your e-scooter ride. You can choose from various locations across the city.</div>
      </div>
    </div>
    <div>
      <div class="step-number">4</div>
      <div class="step-details">
        <div class="step-title">Checkout</div>
        <div class="step-description">Review your order, make any necessary adjustments, and proceed to checkout to complete your reservation.</div>
      </div>
    </div>
  </div>
  <div class="image">
    <img src="assets/images/woman-6572974_1280.jpg">
  </div>
</div>
