.container-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.text-spacer {
  padding: 20px;
}

.logo {
  font-weight: bold;
  font-size: 36px;
}
