.example-card {
  max-width: 400px;
}

.example-header-image {
  background-size: cover;
}

.placement {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 100px 100px 0 100px;
}

.selected {
  background-color: #4CAF50; /* Green background for selected item */
  color: #fff; /* White text on selected item */
}

